@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variable';

.left-content-image {
    background-image: url('https://test-iam.clopay.com/img/Homepage-Images-720x900-2.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    min-height: 100vh;
}

.login-form {
    max-width: 26rem;
    margin: 0 auto;
    padding: 1.4rem 0;
    min-height: 100vh;

    h1 {
        @include font(700, 2rem, '', 1.3rem, $placeholder-text-color);
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    h2 {
        @include font(400, 1rem, '', 1.3rem, $dark-grey-color);
        margin-bottom: 1.5rem;
    }

    .notes {
        @include font(400, 0.875rem, '', 0.8rem, $light-grey-color);
    }

    .eye-icon {
        position: absolute;
        top: 33px;
        right: 10px;
        padding: 8px;
    }

    .forgotpassword {
        @include font(700, 1rem, '', 0.8rem, $maroon-color);
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .needhelp {
        @include font(400, 1rem, '', normal, $dark-grey-color);
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .copyright {
        
        p {
            @include font(400, 0.75rem, '', normal, $bluish-grey-color);
            position: absolute;
            right: 0;
            left: 0;
            bottom: 10px;
            margin: 0;
        }

        a {
            @include font(400, 0.75rem, '', normal, $bluish-grey-color);
            letter-spacing: -.2px;
            margin: 0;

            &:hover {
                color: #66332b;
                text-decoration: underline !important;
            }
        }
    }
}

@media(max-width: 1199px){
    .left-image{ display: none;}
}