<div class="login-page">
    <div class="row m-0">
        <div class="col-6 p-0">
            <div class="left-content-image"></div>
        </div>
        <div class="col-6">
            <div class="login-form">
                <img src="https://test-iam.clopay.com/img/logo.svg" alt="" class="mw-100" />
                <h1>CIS Portal</h1>
                <h2>Welcome to Clopay CIS - Order Status</h2>
                <div class="userId w-100">
                    <clo-input-text type="text" value="" class="form-control border-0 p-0" autocomplete="off"
                        placeholder="Enter User ID">User ID
                        <span class="text-danger">*</span></clo-input-text>
                    <p class="notes">User ID store associates: Store Number</p>
                </div>
                <div class="password position-relative w-100">
                    <clo-input-text type="text" value="" class="form-control border-0 p-0" autocomplete="off"
                        placeholder="******">Password
                        <span class="text-danger">*</span>
                    </clo-input-text>
                    <img src="eye-icon.svg" alt="Eye Icon" class="eye-icon"/>
                    <p class="notes mb-4">For store associates: ZIP code or postal code</p>
                </div>
                <div class="apply-button w-100">
                    <clo-button type="primary" label="Login"/>
                </div>
                <div>
                    <p class="forgotpassword">Forgot Password?</p>
                    <p class="needhelp">Need Help?</p>
                </div>
            </div>
        </div>
    </div>
</div>