@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variable";

.global-header {
    background-color: $black-color;
    z-index: 1;
    padding: 0.75rem 1rem;
    transition: .3s ease;

    .left-section {
        .site-logo {
            width: auto;
            height: 2.5rem;
        }

        h1 {
            @include font(700, 1.4rem, '', normal, $white-color);
            margin: 0;
        }
    }

    .right-section {
        p {
            @include font(400, 1rem, '', 0.8rem, $white-color);
            margin: 0;
        }

        .needhelp {
            @include font(400, 1rem, '', 0.8rem, $light-grey-color);
            margin: 0;
            text-decoration: none !important;
        }
    }
}