<secondarynav-latest [menuItems]="menuItems" (tabChangClick)="tabChangClick($event)">
    <!-- <div class="tracking mt-5">
            <div class="step completed">
            <h4>Order Received</h4>
            <p>Completed on <strong>10/16/2024</strong></p>
            <p>Posted: 10/16/2024, 1:29 PM CST</p>
            </div>
            <div class="step completed">
            <h4>Site Check</h4>
            <p>Completed on <strong>10/29/2024</strong></p>
            <p>Posted: 10/21/2024, 1:29 PM CST</p>
            <p>Schedule on <strong>10/29/2024</strong> 06:00 AM</p>
            </div>
            <div class="step completed">
            <h4>Order Changes</h4>
            <p>Completed on <strong>10/23/2024</strong></p>
            <p>Posted: 10/23/2024, 1:29 PM CST</p>
            <p>Schedule on <strong>10/28/2024</strong> 06:00 AM</p>
            </div>
            <div class="step pending">
            <h4>Product Manufacturing</h4>
            <p>Completed on <strong>11/14/2024</strong></p>
            <p>Posted: 10/31/2024, 1:29 PM CST</p>
            <p>Schedule on <strong>11/22/2024</strong> 06:00 AM</p>
            </div>
            <div class="step pending">
            <h4>Install/Delivery</h4>
            <p>Completed on <strong>12/23/2024</strong></p>
            <p>Posted: 12/23/2024, 1:29 PM CST</p>
            <p>Schedule on <strong>12/28/2024</strong> 06:00 AM</p>
            </div>
        </div> -->
</secondarynav-latest>