@import "../assets/styles/mixins";
@import "../assets/styles/variable";

.secondaryNavWrapper {
    overflow-x: auto;
    width: 100%;
    position: fixed;
    top: 64px;
    background-color: #34495e;
    z-index: 2;

    .secondaryNavHeader {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        min-width: max-content;
        list-style: none;
        height: 48px;
        align-items: center;

        .nav-item {
            flex: 0 0 auto;
            border-bottom: 4px solid transparent;
            margin: 0 20px;

            a {
                font-size: 14px;
                color: #f6f8fa;
                line-height: 17px;
                font-weight: 400;
                text-transform: uppercase;
                padding: 12px 24px 12px 24px;
                display: inline-block;
                white-space: nowrap;
            }

            &.active {
                border-bottom: 4px solid #fff;
                font-weight: 700;
            }

            &:hover {
                border-bottom: 4px solid #fff;
            }
        }
    }
}

@media(max-width: 711px) {
    .secondaryNavWrapper {
        top: 48px;
    }
}