<!-- <app-header></app-header> -->
<router-outlet></router-outlet>

<!-- <div class="secondaryNavWrapper">
  <ul class="secondaryNavHeader" id="myTab" role="tablist">
    <li class="nav-item" *ngFor="let secondaryHeaderTitles of secondaryHeaderTitles"
      (click)="tabSelect(secondaryHeaderTitles.name)" [ngClass]="{
            'active': selectedTabName === secondaryHeaderTitles.name
            }" routerLink="{{ secondaryHeaderTitles.routerLink }}" routerLinkActive="active">
      <a id="{{ secondaryHeaderTitles.name }}" data-toggle="tab" role="tab">{{secondaryHeaderTitles.displayName}}</a>
    </li>
  </ul>
</div> -->

<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Without ng-template
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->

<!-- <button type="button" class="btn btn-primary" (click)="demo1()">
    With ng-template
</button>

<ng-template #plankModalTemplate let-modal>
    <div class="modal-header">
        <h1 class="modal-title fs-5">Modal title</h1>
        <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="exampleFormControlInput" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea" rows="3"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</ng-template> -->