@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: "Roboto-medium";
    src: url("./assets/fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-thin";
    src: url("./assets/fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto-regular";
    src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoLight";
    src: url("./assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "LatoMedium";
    src: url("./assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "LatoRegular";
    src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "LatoBold";
    src: url("./assets/fonts/Lato-Bold.ttf");
}

body {
    font-family: LatoRegular;
    font-style: normal;
}

* {
    scrollbar-width: thin !important;
    scrollbar-color: transparent transparent !important;
    // user-select: none;
    // -moz-user-select: none;
    // -webkit-user-select: none;
    // -ms-user-select: none;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: -webkit-fill-available;
}

a {
    text-decoration: none !important;
}

ol,
ul {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none;
}

// ::-webkit-scrollbar {
//     width: 10px;
//     background-color: transparent;
//     height: 10px;
//     color: #c1c1c1;
// }

// :hover::-webkit-scrollbar {
//     width: 10px;
//     background-color: transparent;
//     height: 10px;
// }

// :hover::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     background-color: transparent;
// }

// ::-webkit-scrollbar-thumb:hover {
//     background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     -webkit-box-shadow: none;
//     -moz-box-shadow: none;
//     box-shadow: none;
//     background-color: transparent;
//     border: none;
// }

.handCursor {
    cursor: pointer;
}