$white-color: #ffffff;
$black-color: #000000;
$header-text-color: #192430;
$placeholder-text-color: #2a292a;
$bg-color: #f6f8fa;
$light-grey-color: #8894a0;
$light-grey-color-2: #8894a033;
$light-grey-color-3: rgb(136 148 160 / 10%);
$dark-grey-color: #34495e;
$maroon-color: #66332b;
$maroon-hover-color: #845b55;
$maroon-active-color: #512822;
$grey-color: #e4e4e4;
$red-color: #d50000;
$green-color: #17a85f;
$grey-40-color: #85919E;